# See https://atom.io/docs/latest/hacking-atom-package-word-count#menus for more details

# 右键菜单
# 'context-menu':
#   'atom-text-editor': [
#     {
#       'label': 'Toggle generate'
#       'command': 'generate:toggle'
#     }
#     {
#       'label': 'Toggle asciiArt'
#       'command': 'generate:ascii_art'
#     }
#   ]

  # 标准菜单
'menu': [
  {
    'label': 'Generate'
    'submenu': [
      {
        'label': 'generate'
        'submenu': [
          {
            'label': 'gen-menu-command'
            'command': 'generate:gen-menu-command'
          }
          { 'type': 'separator' }
          {
            'label': 'Toggle'
            'command': 'generate:toggle'
          }
          {
            'label': 'asciiArt'
            'command': 'generate:ascii_art'
          }
          {
            'label': 'display'
            'command': 'generate:display'
          }
        ]
      }
      {
        'label': 'escape'
        'submenu': [
          {
            'label': 'escape-url-encode'
            'command': 'generate:escape-url-encode'
          }
          {
            'label': 'escape-url-decode'
            'command': 'generate:escape-url-decode'
          }
          {
            'label': 'escape-Base64-encode'
            'command': 'generate:escape-Base64-encode'
          }
          {
            'label': 'escape-Base64-decode'
            'command': 'generate:escape-Base64-decode'
          }
          {
            'label': 'escape-Html-encode'
            'command': 'generate:escape-Html-encode'
          }
          {
            'label': 'escape-Html-decode'
            'command': 'generate:escape-Html-decode'
          }
          {
            'label': 'escape-native2ascii'
            'command': 'generate:escape-native2ascii'
          }
          {
            'label': 'escape-ascii2native'
            'command': 'generate:escape-ascii2native'
          }
        ]
      }
      {
        'label': 'get-url'
        'submenu': [
          {
            'label': 'get-url-listurl'
            'command': 'generate:get-url-listurl'
          }
          {
            'label': 'get-url-insert-url'
            'command': 'generate:get-url-insert-url'
          }
          {
            'label': 'get-url-show-url-config'
            'command': 'generate:get-url-show-url-config'
          }
          {
            'label': 'get-url-save-url-config'
            'command': 'generate:get-url-save-config'
          }
          {
            'label': 'get-url-request-config'
            'command': 'generate:get-url-request-config'
          }
          {
            'label': 'get-url-request-url'
            'command': 'generate:get-url-request-url'
          }
          {
            'label': 'get-url-request-har'
            'command': 'generate:get-url-request-har'
          }
          {
            'label': 'get-url-store-cookies'
            'command': 'generate:get-url-store-cookies'
          }
        ]
      }
      {
        'label':'java code'
        'submenu': [
          {
            'label': 'java-config'
            'command': 'generate:template-find-view'
          }
          { 'type': 'separator' }
          {
            'label': 'json-java'
            'command': 'generate:json-java'
          }
          {
            'label': 'json-java-url'
            'command': 'generate:json-java-url'
          }
          {
            'label': 'json-java-db-xutils'
            'command': 'generate:json-java-db-xutils'
          }
          {
            'label': 'json-java-db-ormlite'
            'command': 'generate:json-java-db-ormlite'
          }
          { 'type': 'separator' }
          {
            'label': 'fileds-java'
            'command': 'generate:fileds-java'
          }
          {
            'label': 'fileds-java-db-xutils'
            'command': 'generate:fileds-java-db-xutils'
          }
          {
            'label': 'fileds-java-ormlite'
            'command': 'generate:fileds-java-ormlite'
          }
          {
            'label': 'gen-style-xml'
            'command': 'generate:gen-style-xml'
          }
        ]
      }
    ]
  }
]
