# See https://atom.io/docs/latest/hacking-atom-package-word-count#menus for more details

# 右键菜单
'context-menu':
  'atom-text-editor': [
    {
      'label': 'Toggle generate'
      'command': 'generate:toggle'
    }
    {
      'label': 'Toggle asciiArt'
      'command': 'generate:ascii_art'
    }
  ]

  # 标准菜单
'menu': [
  {
    'label': 'Generate'
    'submenu': [
      {
        'label': 'generate'
        'submenu': [
          {
            'label': 'Toggle'
            'command': 'generate:toggle'
          }
          {
            'label': 'asciiArt'
            'command': 'generate:ascii_art'
          }
          {
            'label': 'display'
            'command': 'generate:display'
          }
        ]
      }
      {
        'label':'java code'
        'submenu': [
          {
            'label': 'json-java'
            'command': 'generate:json-java'
          }
          {
            'label': 'json-java-url'
            'command': 'generate:json-java-url'
          }
          {
            'label': 'json-java-db-xutils'
            'command': 'generate:json-java-db-xutils'
          }
          {
            'label': 'json-java-db-ormlite'
            'command': 'generate:json-java-db-ormlite'
          }
        ]
      }
    ]
  }
]
